/* -------------------- footer -------------------- */
.footer{
    width: 100%;
    background-color: rgb(245, 245, 252);
    overflow: hidden;
}

/* -------------------- footer-container -------------------- */
.footer .footer-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    padding: 4vw 5vw;
}

/* ------------ footer left-footer ------------ */
.footer .footer-container .left-footer{
    width: 420px;
}

.left-footer .logo a{
    display: flex;
    align-items: center;    
}

.left-footer .logo a i{
    font-size: 52px;
    margin-right: 10px;
    color: var(--primary-color);
}

.left-footer .logo h2{
    font-size: 26px;
    padding-left: 10px;
    border-left: 2px solid #cccccc;
    font-weight: 800;
}

.left-footer .footer-description p{
    font-weight: 600;
    margin-top: 10px;
}

/* ------------ footer center-footer ------------ */
.footer .footer-container .center-footer h2{
    transition: all 0.3s;
}

.footer .footer-container .center-footer h2:hover{
    color: var(--primary-color);
    transform: translateX(2px);
}

.center-footer ul li{
    margin: 2px 0px;
    transition: all 0.3s;
}

.center-footer ul li a{
    font-size: 15px;
    font-weight: 600;
}

.center-footer ul li a:hover{
    color: var(--primary-color);
}

.center-footer ul li:hover{
    transform: translateX(2px);

}

/* ------------ footer right-footer ------------ */
.footer .footer-container .right-footer h2{
    transition: all 0.3s;
}

.footer .footer-container .right-footer h2:hover{
    color: var(--primary-color);
    transform: translateX(3px);
}

.right-footer ul li{
    display: flex;
    align-items: center;
    margin: 5px 0px;
    transition: all 0.3s;
}

.right-footer ul li:hover{
    transform: translateX(3px);
}

.right-footer ul li i{
    color: var(--primary-color);
    font-size: 24px;
    margin-right: 5px;
}

.right-footer ul li a{
    font-weight: 600;
}

.right-footer ul li a:hover{
    color: var(--primary-color);
}

/* -------------------- copyright line -------------------- */
.footer .copyright p{
    text-align: center;
    padding: 10px 0px;
    font-size: 13px;
    font-weight: 700;
}

.footer .copyright p:hover{
    color: var(--primary-color);
}



/* --------------------             -------------------- */
/* -------------------- Media Query -------------------- */
/* --------------------             -------------------- */

@media only screen and (max-width: 768px){
    /* -------------------- footer-container -------------------- */
    .footer .footer-container{
        display: grid;
        grid-template-columns: 1fr;
    }  

    /* ------------ footer left-footer ------------ */
    .footer .footer-container .left-footer{
        width: 100%;
    }

    .left-footer .logo a i{
        font-size: 44px;
    }
    
    .left-footer .logo h2{
        font-size: 22px;
    }

    /* ------------ footer center-footer ------------ */
    .footer .footer-container .center-footer{
        margin: 10px 0px;
    }
}